<h1>Most Ordered Product</h1>

<% if @most_ordered_product %>
  <p>Name: <%= @most_ordered_product.name %></p>
  <p>Description: <%= @most_ordered_product.description %></p>
<% else %>
  <p>No orders have been placed yet.</p>
<% end %>
